@tailwind base;
@tailwind components;
@tailwind utilities;


.form-search__input::placeholder {
  opacity: 60%;
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}

.form-search {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}

